@import url('https://fonts.google.com/share?selection.family=Edu+VIC+WA+NT+Hand:wght@400..700');
body {
    font-family: "Comic Sans MS";
    background-color: hwb(60 95% 5% / 0.981);
    background-image: 
        url('https://i.pinimg.com/1200x/cf/9f/af/cf9faf631a5f35a2516d41bcd126e551.jpg');
    background-size:  cover; 
    background-repeat:  repeat;
    background-position: left 100%, right 70%; 

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
    

section {
    background-image: url('https://i.pinimg.com/736x/3d/cf/6d/3dcf6dcd86cc89405d868be9789b67df.jpg');
    text-align: center;
    border-radius: 50px;
    width: 500px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 10px 36px 16px rgba(0,0,0,0.1);
}
.game--title {
    padding-top: 20px;
}
.game--container {
   display: grid;
    grid-template-columns: repeat(3, auto);
    width: 210px;
    margin: 30px auto 30px auto;
}
.cell {
    font-family: "Comic Sans MS";
    width: 70px;
    height: 70px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), auto;
    line-height: 50px;
    font-size: 2rem;
}
.game--status {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
button {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: hsl(230, 83%, 9%);
    cursor: pointer;
}
button:hover {
    transition: 0.25s;
    background-color: #2963a9;
}